@import url("https://fonts.googleapom/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

/* colors */
:root {
  --red: #bf1e2e;
  --black: black;
  --darkGray: #4a4a4a;
  --gray: #737373;
  --lightGray: #cecdd7;
  --font: "Work Sans", sans-serf;
}

/* page setup */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font), sans-serif;
  color: var(--darkGray);
}

#portfolio {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#info {
  width: 100%;
  height: 100vh;
}

/* .nav-bar{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: pink;
    width: 100%;
    height: 100px;
    z-index: 1;
} */

/* .nav-list { */
/*     display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: pink; */
/*       display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10%;
}

li {
  list-style: none;
/*   margin-right: 2rem; */

/* .logo {
  margin-right: auto;
  margin-left: 15px;
}

.nav-item a {
  text-decoration: none;
  color: var(--darkGray);
/*   transition: all 200ms ease-in; */

/* a {
  margin: 10px;
}  */

/* menu styling */

#menuContainer {
  position: fixed;
  background-color: var(--lightGray);
  top: 0;
  width: 100%;
  padding: 1em;
  /*   margin: 0px; */

}

#logo {
  float: left;
  color: var(--darkGray);
}

.menu {
  float: right;
  top: 0;
  margin-right: 50px;
}

.menu li {
  display: inline;
}

.menu ul li {
  color: var(--gray);
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: var(--gray);
}

#menuContainer .menu .hover a:hover {
  color: white;
  font-weight: 600;
  cursor: hand;
}

a:hover {
  color: white;
  font-weight: 600;
  cursor: hand;
}
.menu .active {
  color: var(--red);
  font-weight: 600;
  /*   background-color: pink; */
}

/* portfolio page */

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
  margin-top: 100px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#gallery::-webkit-scrollbar {
  display: none;
}

#gallery figure img {
  width: 250px;
  height: auto;
  object-fit: cover;
}

#gallery img:hover {
  box-shadow: 0 0 1px 3px var(--red);
  opacity: 0.8;
  border-radius: 5px;
}

/* #gallery img {
  margin: 0px;
} */

figcaption {
  display: none;
  width: 300px;
}

/* info page */

article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding-top: 100px;
  padding-left: 1em;
  color: var(--darkGray);
}

#bio {
  grid-column: 1;
  grid-row: 1;
}

#bioBody {
  grid-column: 2 / 5;
  grid-row: 1;
  margin-right: 3em;
}

#contact {
  grid-column: 1;
  grid-row: 2;
}

#contactBody {
  grid-column: 2/ 5;
  grid-row: 2;
}
#social {
  grid-column: 1;
  grid-row: 3;
}

#contactBody {
  grid-column: 2/ 5;
  grid-row: 3;
}

/* lightbox styling */

.lg-backdrop.in {
  opacity: 0.7;
}

.lg-actions .lg-prev,
.lg-actions .lg-next {
  color: var(--red);
}

/* screen sizes */
/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) {
  /* Diagnostic Styling. Delete When Done. */
  /*   body:before {
       background: yellow;
       content: "Mobile Size";
  } */
    #menuContainer {
    font-size: .5em;
  }
  .menu {
  float: right;
  top: 0;
  margin-right: 20px;
}
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em) {
  /* Diagnostic Styling. Delete When Done. */
  /*   body:before {
       background: yellow;
       content: "Tablet Size";
  } */
}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em) {
  /* Diagnostic Styling. Delete When Done. */
  /*   body:before {
       background: yellow;
       content: "Desktop Size";
  }
 */
    #menuContainer {
  font-size: 1em;
}
    .menu {
  float: right;
  top: 0;
  margin-right: 120px;
}
}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) {
  /* Diagnostic Styling. Delete When Done. */
/*   body:before {
    background: yellow;
    content: "Wide Desktop Size";
  } */

}
